html{
    scroll-behavior: smooth;

}
body{
    background-color: #350880;
    color: #000;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

a{
    color: #00a9c7;
}
a:hover{
    color: #434343;
    text-decoration: underline;
}

a.non-hover-link{
    color: gray;
}
a.non-hover-link:hover{
    text-decoration: dotted;
    color: gray;
}

#navbar{
    float: initial;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.navbar .navbar-brand{
    color: #00a9c7;
}
.navbar .navbar-brand:hover{
    color: #00a9c7;
}

.navbar a{
    /* color: #ffffff; */
    color: #212121;
    font-size: 0.8rem;
}
.nav-pills .nav-link.active{
    color: #ed1c24;
    background: none;
    text-decoration: none;
    border-radius: 20px;
}
.navbar .nav-link:hover, .navbar-brand:hover{
    color: #ed1c24;
}
.navbar .nav-pills{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

body{
    padding-bottom: 50px;
}
@media only screen and (max-width: 768px){
    body{
        padding-bottom: 70px;
    }
}

section{
    overflow-y: scroll;

    height: 100vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.425); */
}

.btn-primary{
    background: #ed1c24;
    border: 1px solid #ed1c24;
    border-radius: 20px;

    justify-content: center;
}
.btn-primary:hover{
    border: 1px solid #edc71c;
    background: #edc71c;
}

#landing{

    /* sizing */
    height: 100vh;
    padding: 5vh 5vw;
    margin-top: 0;
    padding-top: 0;

    /* background */
    background: url('./img/SVG/green-bg-light.svg');
    background-color: #fff;
    background-color: #350880;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;

    /* text position */
    display: flex;
    justify-content: center;
    align-items: center;

    /* font */
    font-family: 'Roboto Condensed', sans-serif;

}
.custom-card{
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2vh 2vw;
    border-radius: 15px;

    width: 100%;
    height: auto;
}

.name-title{
    color: #edc71c;
}

.carousel{
    min-height: 55vh;
    justify-content: center;

    font-weight: 700;
}

.carousel-item{
    padding: 5vh 5vw;
}

.carousel img{
    margin-top: 2vh;
    height: 10vh;
    width: auto;
    padding: 1vh 1vw;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#about{
    background: url('./img/SVG/bg-4.svg');
    background-color: #fff;
    background-size: cover;
    background-repeat:repeat-y;

    /* text position */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;
}

#profile-picture{
    border: 2px solid rgba(119, 119, 119, 0.39);
    padding: 2px;
    border-radius: 50%;
}

#projects{
    background: url('./img/SVG/bg-2.svg');
    background-color: #350880;
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
}

#blogs{
    background: url('./img/SVG/bg-1.svg');
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

#contact{
    background: url('./img/SVG/bg-3.svg');
    background-color: #350880;
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
}

