/* ============================================================================== */
/* ANIMATIONS */

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

/* ================================================================= */
/* Global styles*/
html {
  scroll-behavior: smooth;
}
body {
  /* font */
  font-family: "Manrope", sans-serif;
  color: #000;

  /* sizing */
  overflow-x: hidden;
}

section {
  /* text */
  text-align: center;

  /* box sizing */
  padding-bottom: 2vh;
  padding-top: 2vh;
}

/* links and buttons */
a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: #434343;
  text-decoration: none;
}

h4 a {
  color: #000;
  text-decoration: none;
}
h4 a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background: none;
  border: 0px;
  outline: 0 none;
}
p {
  padding: 5px 10px;
}
h4{
  padding: 5px 10px;

}

a.btn {
  background-color: #000;
  border-radius: 20px;
  font-size: 0.8rem;
  border-color: #000;
  color: #fff;
  text-decoration: none;
}
a.btn:hover {
  color: #fff;
  background-color: #000;
  text-decoration: underline;
  text-decoration-style: dotted;
}
a.btn * {
  padding: 2px;
}
a.btn i {
  padding: none;
}

a.non-hover-link {
  color: gray;
}
a.non-hover-link:hover {
  text-decoration: dotted;
  color: gray;
}

/* ================================================================= */
/* Section styles */

/* ============Landing============== */

#landing {
  /* sizing */
  height: 100vh;
  padding: 5vh 5vw;
  margin-top: 0;
  padding-top: 0;

  /* background */
  background: url("../../img/SVG/green-bg-light.svg");
  background-color: #fff;
  background-color: #350880;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;

  /* text position */
  display: flex;
  justify-content: center;
  align-items: center;

  /* font */
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 768px) {
  #landing h1 {
    font-size: 1.5rem;
  }
}

.name-title {
  color: #edc71c;
}

#landing a.btn-primary {
  background: none;
  border: none;
  border-radius: 20px;

  justify-content: center;
}
#landing a.btn-primary:hover {
  text-decoration: none;
  background: none;
  border: none;
}

/* ============About============== */
#about {
  background-color: #fff;
  background-size: cover;
  background-repeat: repeat-y;

  /* text position */
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture {
  padding: 2px;
  border-radius: 50%;
}

#suryansh-name a {
  color: #000;
  text-decoration: none;
}

#suryansh-name a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.carousel {
  top: 10vh;

  /* flex */
  justify-content: center;
  align-items: flex-start;

  /* box sizing */
  min-height: 70vh;

  /* font */
  font-size: 0.8rem;
}
.carousel-container {
  /* box sizing */
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .carousel {
    min-height: 60vh;
    top: 0vh;
  }

  .carousel-container {
    display: block;
  }
}

.carousel-item {
  padding: 5vh 5vw;
}

.carousel img {
  margin-top: 2vh;
  height: 10vh;
  padding: 1vh 1vw;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* ============Projects============== */

#projects {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;

  /* text position */
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
}

#projects img {
  width: 100%;
}

/* ============Blogs============== */

#blogs {
  background-color: #fff;
}
#blogs img {
  margin: 16px 0px;
}

/* ============Contact============== */
#contact {
  background-size: cover;
  background-repeat: no-repeat;

  color: #000;
  margin-bottom: 0px;
}
.text-secondary {
  font-size: 0.9rem;
}
#contact a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
#contact a:hover {
  color: #212121;
  text-decoration: underline;
}
#contact h4{
  padding: 0px;
}
